<ion-list>
  <ion-item>
    <ion-input labelPlacement="floating">
      <div slot="label">Nombre del Anteproyecto<ion-text color="danger">(Required)</ion-text></div>
    </ion-input>
  </ion-item>
  <!----------------->
  <ion-item>
    <ion-textarea labelPlacement="floating" style="height: 190px">
      <div slot="label">Descripción<ion-text color="danger">(Required)</ion-text></div>
    </ion-textarea>
  </ion-item>
</ion-list>

<ion-button color="success" expand="block" [routerLink]="['/Funcion/sesion']" routerLinkActive="router-link-active">Ingresar</ion-button>
<ion-chip [routerLink]="['/Logueo']" routerLinkActive="router-link-active">LogOut</ion-chip>