<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Gestión de Item's</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="Agg">
        <ion-icon name="bookmarks"></ion-icon>
        Agregar
      </ion-tab-button>
      <ion-tab-button tab="Act">
        <ion-icon name="refresh-circle"></ion-icon>
        Actualizares
      </ion-tab-button>
      <ion-tab-button tab="Elimn">
        <ion-icon name="trash"></ion-icon>
        Eliminar
      </ion-tab-button>
      <ion-tab-button tab="Edit">
        <ion-icon name="create"></ion-icon>
        Editar
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>