<ion-content>
  <div style="display: flex; align-items: center; justify-content: center; text-align: center; margin: 20px;">
    <b><i>
      ---LISTADO---
    </i></b>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="auto" style="align-items: center; justify-content: center; text-align: center;"><b style="width: 110px;">ITEM</b></ion-col>
      <ion-col style="align-items: center; justify-content: center; text-align: center;"><b>CONTENIDO</b></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="auto"><div style="width: 110px;">Titulo</div></ion-col>
      <ion-col><i>La Magia de Dragon Ball: Lecciones de Vida a Través de la Animación</i></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="auto"><div style="width: 110px;">Objetivo General</div></ion-col>
      <ion-col>
        <i>
          Analizar y documentar las lecciones de vida transmitidas a través de la serie de anime Dragon Ball, 
          explorando su impacto en la percepción y desarrollo personal de la audiencia. La investigación busca 
          comprender cómo los temas, personajes y narrativas de Dragon Ball pueden influir de manera positiva 
          en la vida de las personas de todas las edades y culturas, y cómo estas lecciones pueden aplicarse 
          en la vida cotidiana
        </i>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="auto"><div style="width: 110px;">Descripcion del Tema</div></ion-col>
      <ion-col><i>   </i></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="auto"><div style="width: 110px;">Planteamiento del Problema</div></ion-col>
      <ion-col><i>  </i></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="auto"><div style="width: 110px;">Justificación</div></ion-col>
      <ion-col><i>  </i></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="auto"><div style="width: 110px;">Conclusión</div></ion-col>
      <ion-col><i>  </i></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
